@impmeort url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: Poppins;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 24px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 20px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: your_textall 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

:focus {
  outline: 0;
}

.navbar-form input {
  border: none !important;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 0px;
}

.header_section {
  width: 100%;
  float: left;
  background: #080710;
  height: auto;
  background-size: 100%;
}
.bg-light {
  background-color: transparent !important;
}
.logo {
  float: left !important;
  font-size: 30px !important;
  color: #ffffff !important;
  font-weight: bold;
  letter-spacing: 0;
  /* position: relative; */
  /* padding: 0 0 10px 0; */
  line-height: normal;
  margin: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
}
.btn-outline-success:hover {
  /* background-color: #fff; */
  background-color: #e2b842;
  border-color: #e2b842 !important;
  /* border-color: #28a745; */
  /* color: #000 !important; */
  color: white !important;
  transition: 0.5s;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

/* add btn */
.add-btn {
  background: #ff4742;
  border: 1px solid #ff4742;
  /* border-radius: 6px; */
  /* border-radius: 2em; */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.add-btn:hover,
.add-btnbutton-24:active {
  background-color: #ffffff;
  /* background-color: initial; */
  background-position: 0 0;
  color: #ff4742;
}

.add-btn:active {
  opacity: 0.5;
}
/* add btn end */

.com-btn {
  display: inline-block;
  padding: 0.5em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.12em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  background-color: #d33f49;
}

.com-btn:hover {
  color: #d33f49;
  background-color: rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-item {
  position: relative;
}
.navbar-nav.mr-auto {
  margin-left: 600px;
}
.navbar-nav.mr-auto ul {
  margin-left: 0px;
  padding: 0px;
  padding-left: 25px;
}
.nav-item.active .nav-link::before {
  background-color: #ffffff;
}
nav {
  height: 80px;
  width: 100%;
}

nav ul {
  gap: 10px;
  float: right;
  margin-right: 0px;
}

nav ul li {
  padding-left: 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  /* padding: 10px 13px; */
  height: 40px;
  /* width:130px; */
  margin-top: -7px;
  border-radius: 3px;
  text-transform: uppercase;
}

.nav-link.active,
.nav-link:hover {
  color: white !important;
  /* color: white  */
  background: #e2b842;
  transition: 0.5s;
}
/* a.active, a:hover {
    color:white !important;
    color: white;
    background: #E2B842;
    transition: 0.5s;
} */
.mb-lg-0,
.my-lg-0 {
  margin-bottom: 0 !important;
  margin-left: -120 !important;
  width: 20%;
  float: left;
}

.banner_section {
  width: 100%;
  background: #080710;
  float: left;
}
#main_slider a.carousel-control-prev {
  position: absolute;
  left: -90px;
  top: 50%;
}

.banner_section_2 {
  width: 100%;
  float: left;
  padding-top: 50px;
  margin-bottom: 100px;
}

/* card */
.card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.card p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
  font-size: 20px;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 15px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.go-corner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #d33f49;
  border-radius: 0 4px 0 32px;
}

.card2 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #fffcfc;
  /* FFFCFC FAF4F4*/
  border-radius: 4px;
  padding: 32px 24px;
  margin: 15px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #d33f49;
  /* d7263d ce6a85 d33f49*/
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card2:hover:before {
  transform: scale(21);
}

.card2:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card2:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}
/* card end */
.footer_section {
  width: 100%;
  float: left;
  background-color: #313131;
  height: auto;
  padding-bottom: 90px;
  border-top: 2px solid #ffffff;
}

.customer_text {
  width: 100%;
  float: left;
  font-size: 24px;
  color: #ffffff;
}

.footer_lorem_text {
  width: 80%;
  float: left !important;
  font-size: 16px !important;
  color: #fefefe !important;
  margin-left: 0px !important;
}
.footer_lorem_text1 {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #fefefe;
  margin-left: 0px;
}


/* nav bar */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  width: 100%;
}

nav {
  height: 80px;
  width: 100%;
}

nav ul {
  gap: 30px;
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 10px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #e2b842;
  transition: 0.5s;
}

/* loginpage && form */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #080710;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}
form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}

#submitbtn {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
#submitbtn2 {
  margin-top: 40px;
  width: 100%;
  background-color: #f09819;
  color: #080710;
  padding: 10px 0;
  font-size: 10px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}

/* repair page */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #080710;
  font-family: "Open Sans", sans-serif;
}
table {
  background: #012b39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}
th {
  border-bottom: 1px solid #364043;
  color: #e2b842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: center;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
  text-align: center;
}
.disabled td {
  color: #4f5f64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}
h2 {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* 主頁面(mainpage) */
body {
  font-family: "Nunito", sans-serif;
  background-color: #080710;
}
.me {
  color: white;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .check {
    display: none;
  }
  .btn {
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #e2b842;
    display: inline-block;
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s ease;
    .mo {
      position: relative;
      overflow: hidden;
      bottom: -150px;
      width: 0px;
      height: 0px;
      text-align: center;
      display: inline-block;
      opacity: 0;
      color: #272727;
    }
    &:before {
      width: 0%;
      position: absolute;
      left: 0;
      bottom: 3px;
      height: 5px;
      background-color: #e2b842;
      content: "";
    }
    &:after {
      width: 100%;
      height: 0%;
      position: absolute;
      bottom: 3px;
      left: 0;
      background-color: #e2b842;
      content: "Download complete";
      overflow: hidden;
      text-align: center;
      line-height: 180px;
    }

    &:hover {
      background-color: #e2b842;
      color: #060e33;
    }
  }
}
