<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title>Add Machine</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-add.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-nav.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-select.css') }}" />

   
    <nav>
      <ul>
        <li><a href="/mainpage">Home</a></li>
        <li><a href="/info">Info</a></li>
        <li><a href="/login">Log out</a></li>
      </ul>
    </nav>
  
   <!-- for forntend
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style-add.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/style-nav.css"> -->
  </head>
  <body>
    <div class="header_section">
      <div class="banner_section layout_padding">
        <div class="mach-box banner_section layout_padding">
          <form action="/add_machine" method="post">
            <div class="user-box">
              <input type="text" name="machine_id" required />
              <label>Machine ID</label>
            </div>
            <div class="user-box">
              <!-- <input type="text" name="machine_type" required /> -->
              <label>Machine Type</label>
              <br>  <br>
              <select class="minimal">
                <option value="type A">type A</option>
                <option value="type B">type B</option>
                <option value="type C">type C</option>
              </select>
              <br>
            </div>
            <div class="user-box">
              <!-- <input type="text" name="machine_status" required /> -->
              <label>Machine Status</label>
              <br>  <br>
              <select class="minimal">
               
                <option value="good">good</option>
                <option value="bad">bad</option>
         
              </select>
              <br> 
            </div>
            <br> 
            <div class="user-box">
              <input type="text" name="machine_period" required />
              
              <label>Maintaining Period (days)</label>
           </div>
            <center>
              <!-- 杜: submit 後資料庫要新增一個新的machine -->
              <button type="submit" class="editButton"> ADD </a>
            </center>
          </form>
        </div>
      </div>
    </div>
    <script>
      // for navbar username
      var username = sessionStorage.getItem("username");
      var usernameElement = document.getElementById("username");
      usernameElement.textContent = username;

      function logout() {
        sessionStorage.clear();
      }
    </script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  </body>
</html>
