<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title>Add Machine</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-add.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
  </head>
  <body>
    <div class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo">Wonderful Machine</div>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/main">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info">INFO</a>
              </li>
              <!-- {% if username %} -->
              <li class="nav-item">
                <a class="nav-link" href="/login" onclick="logout()"
                  >LOGOUT</a
                >
              </li>
              <!-- {% else %}
              <li class="nav-item">
                <a class="nav-link" href="login.html">SIGNUP</a>
              </li>
              {% endif %} -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <!-- {% if username %} -->
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                HI, <span id="username"></span> !
              </button>
              <!-- {% else %}
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                LOGIN
              </button>
              {% endif %} -->
            </form>
          </div>
        </nav>
      </div>

      <div class="banner_section layout_padding">
        <div class="mach-box banner_section layout_padding">
          <form action="/add_machine" method="post">
            <div class="user-box">
              <input type="text" name="machine_id" required />
              <label>Machine ID</label>
            </div>
            <div class="user-box">
              <input type="text" name="machine_type" required />
              <label>Machine Type</label>
            </div>
            <div class="user-box">
              <input type="text" name="machine_status" required />
              <label>Machine Status</label>
            </div>
            <center>
              <!-- 杜: submit 後資料庫要新增一個新的machine -->
              <button type="submit" class="editButton"> ADD </a>
            </center>
          </form>
        </div>
      </div>
    </div>
    <script>
      // for navbar username
      var username = sessionStorage.getItem("username");
      var usernameElement = document.getElementById("username");
      usernameElement.textContent = username;

      function logout() {
        sessionStorage.clear();
      }
    </script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  </body>
</html>
