<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title>Machine Detail</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-detail.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-nav.css') }}" />
   
      <ul>
        <li><a href="/main">Home</a></li>
        <li><a href="/info">Info</a></li>
        <li><a href="/login">Log out</a></li>
      </ul>
    </nav>
    <!-- for forntend
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style-detail.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <nav>
    <link rel="stylesheet" href="../static/css/style-nav.css"> -->
  </head>
  <body>
    <!-- header section start -->
    <div class="header_section">
      <div class="container-fluid">
        
      </div>

      <div class="banner_section layout_padding">
        <div class="mach-box banner_section layout_padding">
          <div class="user-box">
            <p>Machine ID: {{data.machine_id}}</p>
          </div>
          <div class="user-box">
            <p>Machine Type: {{data.type}}</p>
          </div>
          <div class="user-box">
            <p>Status: {{data.status}}</p>
          </div>
          <div class="user-box">
            <p>
              Last Repair Time: {{data.repair_time}} <br />
              <!-- (希望呈現的樣式: 2023/05/08 10:51) -->
            </p>
          </div>
          <center>
            <div class="btnContainer">
              <a href="/edit/{{data.machine_id}}" class="button editButton"> EDIT </a>
              <!-- 杜: 按下 delete 後刪除該 machine -->
              <a href="/delete/{{data.machine_id}}" class="button deleteButton"> DELETE </a>
            </div>
          </center>
        </div>
      </div>
    </div>
    <script>
      // for navbar username
      var username = sessionStorage.getItem("username");
      var usernameElement = document.getElementById("username");
      usernameElement.textContent = username;

      function logout() {
        sessionStorage.clear();
      }
    </script>
  </body>
</html>
