<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title>Edit Machine</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
  </head>
  <body>
    <!-- header section start -->
    <div class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo">Wonderful Machine</div>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="mainpage.html">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="info.html">INFO</a>
              </li>
              <!-- {% if username %} -->
              <li class="nav-item">
                <a class="nav-link" href="login.html" onclick="logout()"
                  >LOGOUT</a
                >
              </li>
              <!-- {% else %}
              <li class="nav-item">
                <a class="nav-link" href="login.html">SIGNUP</a>
              </li>
              {% endif %} -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <!-- {% if username %} -->
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                HI, <span id="username"></span> !
              </button>
              <!-- {% else %}
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                LOGIN
              </button>
              {% endif %} -->
            </form>
          </div>
        </nav>
      </div>
      <!-- header section end -->
      <!-- banner section start -->
      <div class="banner_section layout_padding">
        <div class="mach-box banner_section layout_padding">
          <form action="/edit_submit" method="POST">
            <input type="hidden" value="{{data.machine_id}}" name="machine_id">
            <div class="user-box" name="machine_id">
              <!-- <p>Machine ID: </p> -->
              <!-- machineIdElement 存在 sessionStorage 了-->
              <p id="machineIdElement">{{data.machine_id}}</p>
            </div>
            <div class="user-box">
              <label for="types">Machine Type</label>
              <input type="type" name="machine_type" required value="{{data.type}}" />
            </div>
            <br />
            <center>
              <!-- 杜: submit 後資料庫要更改相對應 machine_id 的 machine_type-->
              <button type="submit" class="button editButton">
                SUBMIT
              </a>
            </center>
          </form>
        </div>
      </div>
      <!-- banner section end -->
    </div>
    <script>
      var machineId = sessionStorage.getItem("selectedMachineId");
      var machineIdElement = document.getElementById("machineIdElement");
      machineIdElement.textContent = "Machine ID: " + machineId;

      // for navbar username
      var username = sessionStorage.getItem("username");
      var usernameElement = document.getElementById("username");
      usernameElement.textContent = username;

      function logout() {
        sessionStorage.clear();
      }
    </script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  </body>
</html>
