<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title>Machine Status</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
  </head>
  <body>
    <div class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo">Wonderful Machine</div>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/main">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info">INFO</a>
              </li>
              <!-- {% if name %} -->
              <li class="nav-item">
                <a class="nav-link" href="/login" onclick="logout()"
                  >LOGOUT</a
                >
              </li>
              <!-- {% else %}
              <li class="nav-item">
                <a class="nav-link" href="login.html">SIGNUP</a>
              </li>
              {% endif %} -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <!-- {% if name %} -->
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                HI, <span id="username"></span> !
              </button>
              <!-- {% else %}
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                LOGIN
              </button>
              {% endif %} -->
            </form>
          </div>
        </nav>
      </div>

      <div class="banner_section layout_padding">
        <div class="container">
          <div class="add_mach">
            <button
              class="add-btn"
              onclick="location.href = '/add';"
            >
              Add Machine
            </button>
          </div>
          <div class="banner_section_2">
            <div class="row">
              <!-- 杜: 俞萱只要改這裡就可以了 Start ! -->
               {% for k in data %}
              <div
                class="{% if k.status == 'good' %}card1{% else %}card2{% endif %}"
                onclick="redirectToDetailPage(this);"
                data-machine-id="{{k.machine_id}}"
              >
                <p>Machine ID: {{k.machine_id}}</p>
                <p>Status: {{k.status}}</p>
                <p class="small">Last Repair Time: <br />{{k.repair_time}}</p>
                <p class="small">Machine Type: {{k.type}}</p>
                {% if k.status == 'good' %}
                <div class="go-corner" href="#">
                  <div class="go-arrow">○</div>
                </div>
                {% else %}
                <button class="com-btn repairBtn">Repair Complete</button>
                <div class="go-corner2" href="#">
                  <div class="go-arrow">×</div>
                </div>
                {% endif %}
              </div>
              {% endfor %}
              <!-- 杜: 俞萱只要改這裡就可以了 End ! -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <h1 class="customer_text">INFORMATION</h1>
            <p class="footer_lorem_text">BlaBlaBla</p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h1 class="customer_text">LET US HELP YOU</h1>
            <p class="footer_lorem_text">BlaBlaBla</p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h1 class="customer_text">About Us</h1>
            <p class="footer_lorem_text1">
              <br />
              Frontend - 黃氏姐妹<br />
              Backend - 杜寶<br />
              AWS Deploy - 林姓正妹<br />
              DEMO Video - William Tsai<br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <script>
      // 導向相對應的 machine detail page
      function redirectToDetailPage(card) {
        var machineId = card.getAttribute("data-machine-id");
        // 存 machineId ，之後在 detail_machine.html 會用到
        sessionStorage.setItem("selectedMachineId", machineId);

        location.href = "/detail";
      }

      // 修改 machine status
      var repairButtons = document.getElementsByClassName("repairBtn");
      for (var i = 0; i < repairButtons.length; i++) {
        repairButtons[i].addEventListener("click", function (event) {
          event.stopPropagation();

          // 杜: 更新資料庫中相對應 machine_id 的 machine_status 為 good(良好)

          location.href = "/machine";
        });
      }

      // for navbar username
      var username = sessionStorage.getItem("username");
      var usernameElement = document.getElementById("username");
      usernameElement.textContent = username;

      function logout() {
        sessionStorage.clear();
      }
    </script>
  </body>
</html>
