<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-mainpage.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-nav.css') }}" />
    <title>main page</title>
    <nav>
      <ul>
        <li><a href="/main">Home</a></li>
        <li><a href="/info">Info</a></li>
        <li><a href="/login">Log out</a></li>
      </ul>
    </nav>
    <!-- for forntend
    <link rel="stylesheet" href="../static/css/style-mainpage.css">
    <link rel="stylesheet" href="../static/css/style-nav.css"> -->
  </head>

  <body>
    <div class="container">
      <label>
        <input class="check" type="checkbox" />
        <div class="btn">
          <span class="me">
            <a class="me" href="/machine">MACHINE STATUS</a>
          </span>
        </div>
      </label>
      <label>
        <input class="check" type="checkbox" />
        <div class="btn">
          <span class="me"
            ><a class="me" href="/repair">REPAIR RECORDS</a>
          </span>
        </div>
      </label>
    </div>
  </body>
</html>
